.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  margin-bottom: 10px;
  color:#4db8ff;
}

.result {
  color:#ff4d4d;
}
.AIboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  font-size: 24px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #ddd;
}

.cell.X {
  color: #ff4d4d;
}

.cell.O {
  color: #4db8ff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #1a8cff;
}